{% extends 'base.html' %}
{% block title %}Work diary{% endblock %}
{% block style %}
<style>
    .screenshots {
        width: 150px;
        height: 150px;
        background-color: #eeeeee;
    }
    .hours {
        height: 190px;
    }
</style>
{% endblock %}
{% block content %}
<div class="container mt-5">
    {% for hour, minutes in screenshots.items %}
    <div class="text-left mt-4">
        <div class="d-inline hours align-middle m-1">{{ hour }}</div>
        {% for minute, shot in minutes.items %}
        <div class="d-inline-block m-1 align-middle">
            {% if shot %}
            <div class="border rounded">
                <img src="{{ shot.image.url }}" alt="screenshot" width="150" height="150">
            </div>
            {% else %}
            <div class="border rounded screenshots"></div>
            {% endif %}
            <div class="text-center">{{ hour }}.{{ minute }}0</div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
